[submodule "lib"]
	path = lib
	url = https://github.com/minuteos/lib
	branch = main
[submodule "lib-arm"]
	path = lib-arm
	url = https://github.com/minuteos/lib-arm
	branch = main
[submodule "lib-nvram"]
	path = lib-nvram
	url = https://github.com/minuteos/lib-nvram
	branch = main
[submodule "lib-fatfs"]
	path = lib-fatfs
	url = https://github.com/minuteos/lib-fatfs
	branch = main
